<center> 
<br>
<div style="width: 50%; ">
    <h1> Listado de Transacciones</h1>
<br>


</center>
<br><br><br>


<div class="container">
    <div class="row">
        <div class="col-md-2">
            <br>
            <div>
                <button><a style="text-decoration: none; color: #000000;" asp-area="" asp-controller="Transacciones" asp-action="Crear">Registrar nueva Transaccion</a></button>
            </div>
                <br><br>
            <div>
      
                <button><a style="text-decoration: none; color: #000000;" asp-area="" asp-controller="Transacciones" asp-action="Leer">Listado de empleados</a></button>
            </div>
        </div>

        <div class="col-md-9 ms-5">
            <table class="table">
                <thead class="table-dark">
                    <tr>
                        <td>ID</td>
                        <td>Fecha</td>
                        <td>Plataforma de pago</td>
                        <td>Cliente</td>
                        <td>Factura</td>
                        <td>Estado</td>
                        <td></td>
                    </tr>
                </thead>

            @foreach (var Transacciones in Model){
                <tr>
                    <td>@Transacciones.IdTransaccion</td>
                    <td>@Transacciones.FechaHora</td>
                    <td>@Transacciones.IdPlataformaPago</td>
                    <td>@Transacciones.IdCliente</td>
                    <td>@Transacciones.IdFactura</td>
                    <td>@Transacciones.IdEstadoTransaccion</td>
                    <td>
                        <a class="btn btn2" asp-controller="Transacciones" asp-action="Actualizar" asp-route-id="@Transacciones.IdTransaccion">Editar</a> 
                        <a class="btn btn1" asp-controller="Transacciones" asp-action="Eliminar" asp-route-id="@Transacciones.IdTransaccion">Eliminar</a>
                    </td>
                </tr>
                }
            </table>
        </div>
    </div>
</div>

<style>


button {
    border-radius: 2rem;
    cursor: pointer;
    width: 145.02px;
    height: 60.66px;
    border: none;
    background-color: #ff812d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn1
{
    background-color: #ff812d;
    
}

.btn2
{
    background-color: #ff812d;
    
}


.InputContainer {
    width: 320px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom,rgb(196, 251, 255),rgb(196, 251, 255));
    border-radius: 55px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
}

.input {
    width: 230px;
    height: 40px;
    border: none;
    outline: none;
    background-color: rgb(255, 255, 255);
    border-radius: 40px;
    padding-left: 15px;
    letter-spacing: 0.8px;
    color: rgb(19, 19, 19);
    font-size: 13.4px;
}

.btn4{
    width: 80px;
    height: 40px;
    border-radius: 60px;
    background-color: rgb(196, 251, 255);
}


</style>